<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2012 The Android Open Source Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
     package="io.github.lee0701.inputmethod.fusion">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_SYNC_STATS"/>
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY"/>

    <!-- A signature-protected permission to ask AOSP Keyboard to close the software keyboard.
                 To use this, add the following line into calling application's AndroidManifest.xml
         <pre>
                      {@code
         <uses-permission android:name="com.android.inputmethod.latin.HIDE_SOFT_INPUT"/>
                      }
         </pre>
                      then call {@link android.content.Context#sendBroadcast(Intent)} as follows:
         <pre>
                      {@code
                      sendBroadcast(new Intent("com.android.inputmethod.latin.HIDE_SOFT_INPUT")
                              .setPackage("com.android.inputmethod.latin"));
                      }
         </pre> -->
    <permission android:name="com.android.inputmethod.latin.HIDE_SOFT_INPUT"
         android:protectionLevel="signature"/>

    <application android:label="@string/english_ime_name"
         android:icon="@drawable/ic_launcher_keyboard"
         android:supportsRtl="true"
         android:allowBackup="true"
         android:defaultToDeviceProtectedStorage="true"
         android:directBootAware="true">

        <!-- Services -->
        <service android:name="FusionIME"
             android:label="@string/english_ime_name"
             android:permission="android.permission.BIND_INPUT_METHOD"
             android:exported="true">
            <intent-filter>
                <action android:name="android.view.InputMethod"/>
            </intent-filter>
            <meta-data android:name="android.view.im"
                 android:resource="@xml/method"/>
        </service>

        <service android:name="com.android.inputmethod.latin.spellcheck.AndroidSpellCheckerService"
             android:label="@string/spell_checker_service_name"
             android:permission="android.permission.BIND_TEXT_SERVICE"
             android:exported="true">
            <intent-filter>
                <action android:name="android.service.textservice.SpellCheckerService"/>
            </intent-filter>
            <meta-data android:name="android.view.textservice.scs"
                 android:resource="@xml/spellchecker"/>
        </service>

        <service android:name="com.android.inputmethod.dictionarypack.DictionaryService"
             android:label="@string/dictionary_service_name">
        </service>

        <!-- Activities -->
        <activity android:name="com.android.inputmethod.latin.setup.SetupActivity"
             android:theme="@style/platformActivityTheme"
             android:label="@string/english_ime_name"
             android:icon="@drawable/ic_launcher_keyboard"
             android:launchMode="singleTask"
             android:noHistory="true"
             android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.android.inputmethod.latin.permissions.PermissionsActivity"
             android:theme="@android:style/Theme.Translucent.NoTitleBar"
             android:exported="false"
             android:taskAffinity="">
        </activity>

        <activity android:name="com.android.inputmethod.latin.setup.SetupWizardActivity"
             android:theme="@style/platformActivityTheme"
             android:label="@string/english_ime_name"
             android:clearTaskOnLaunch="true"
             android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity android:name="com.android.inputmethod.latin.settings.SettingsActivity"
             android:theme="@style/platformSettingsTheme"
             android:label="@string/english_ime_settings"
             android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity android:name="com.android.inputmethod.latin.spellcheck.SpellCheckerSettingsActivity"
             android:theme="@style/platformSettingsTheme"
             android:label="@string/android_spell_checker_settings"
             android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity android:name="com.android.inputmethod.dictionarypack.DictionarySettingsActivity"
             android:theme="@style/platformSettingsTheme"
             android:label="@string/dictionary_settings_title"
             android:uiOptions="splitActionBarWhenNarrow"
             android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity android:name="com.android.inputmethod.dictionarypack.DownloadOverMeteredDialog"
             android:theme="@style/platformActivityTheme"
             android:label="@string/dictionary_install_over_metered_network_prompt"
             android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <!-- Unexported activity used for tests. -->
        <activity android:name="com.android.inputmethod.latin.settings.TestFragmentActivity"
             android:exported="false"/>

        <!-- Broadcast receivers -->
        <receiver android:name="com.android.inputmethod.latin.SystemBroadcastReceiver"
             android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_INITIALIZE"/>
                <action android:name="android.intent.action.LOCALE_CHANGED"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.android.inputmethod.latin.DictionaryPackInstallBroadcastReceiver"
             android:exported="false">
            <intent-filter>
                <action android:name="com.android.inputmethod.dictionarypack.aosp.UNKNOWN_CLIENT"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.android.inputmethod.dictionarypack.EventHandler"
             android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
                <action android:name="android.intent.action.DATE_CHANGED"/>
                <action android:name="com.android.inputmethod.dictionarypack.aosp.UPDATE_NOW"/>
                <action android:name="com.android.inputmethod.dictionarypack.aosp.INIT_AND_UPDATE_NOW"/>
            </intent-filter>
        </receiver>

        <!-- Broadcast receiver for AccountManager#LOGIN_ACCOUNTS_CHANGED_ACTION. -->
        <receiver android:name="com.android.inputmethod.latin.accounts.AccountsChangedReceiver"
             android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.LOGIN_ACCOUNTS_CHANGED"/>
            </intent-filter>
        </receiver>

        <!-- Content providers -->
        <provider android:name="com.android.inputmethod.dictionarypack.DictionaryProvider"
             android:grantUriPermissions="true"
             android:exported="false"
             android:authorities="@string/authority"
             android:multiprocess="false"
             android:label="@string/dictionary_provider_name">
        </provider>

<!--        Mozc entries-->
        <!-- Launcher Icon -->
        <activity android:name="org.mozc.android.inputmethod.japanese.LauncherActivity"
            android:enabled="@bool/show_launcher_icon"
            android:label="@string/app_full_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="org.mozc.android.inputmethod.japanese.LauncherIconVisibilityInitializer"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.USER_INITIALIZE" />
            </intent-filter>
        </receiver>

        <!-- Preference -->
        <activity android:name="org.mozc.android.inputmethod.japanese.preference.MozcProxyPreferenceActivity"
            android:exported="false" />
        <activity android:name="org.mozc.android.inputmethod.japanese.preference.MozcFragmentPreferenceActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeSelectorSettings"
            android:exported="false" />
        <activity android:name="org.mozc.android.inputmethod.japanese.preference.MozcFragmentSoftwareKeyboardAdvancedSettingsPreferenceActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeSelectorSettings"
            android:exported="false" />

        <activity android:name="org.mozc.android.inputmethod.japanese.FirstTimeLaunchActivity"
            android:exported="false"/>
        <activity android:name="org.mozc.android.inputmethod.japanese.preference.MiniBrowserActivity"
            android:launchMode="singleTop"
            android:exported="false" />

        <!-- User dictionary tool -->
        <activity android:name="org.mozc.android.inputmethod.japanese.userdictionary.UserDictionaryToolActivity"
            android:label="@string/user_dictionary_tool_app_name"
            android:uiOptions="splitActionBarWhenNarrow"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppThemeSelectorSettings"
            android:exported="false">

            <!-- Intent filters to receive a file-sending intent for importing user dictionary data.
                 UserDictionaryToolActivity accepts only file scheme.
            -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="application/zip" />
                <data android:scheme="file" />
            </intent-filter>
        </activity>

        <!-- TODO(matsuzakit): Use @string/user_dictionary_tool_export_provider_name for name and authorities.
             Currently resource reference is not used as it is not supported on API Level 7 (Eclair). -->
        <provider android:name="org.mozc.android.inputmethod.japanese.userdictionary.UserDictionaryExportProvider"
            android:authorities="org.mozc.android.inputmethod.japanese.userdictionary.UserDictionaryExportProvider"
            android:exported="false"
            android:grantUriPermissions="true"/>

        <!-- For mushroom.
             Note about the attributes:
             - launchMode: this activity is singleTask, in order to be the root
               activity launched from the menu dialog.
             - taskAffinity: set taskAffinity so that the task is split from
               other activities, such as preference activity.
             - windowSoftInputMode: because this activity looks dialog with a
               ListView. So, in theory it is not necessary to connect with IME.
               Without this option, some unexpected connection happens, and
               it causes an issue that mushroom result is not committed.
             - excludeFromRecents: this pseudo dialog shouldn't be shown on history
               list.
        -->
        <activity android:name="org.mozc.android.inputmethod.japanese.mushroom.MushroomSelectionActivity"
            android:launchMode="singleTask"
            android:taskAffinity=".mushroom"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:excludeFromRecents="true"
            android:exported="false" />


        <!-- Input device manager -->
        <receiver android:name="org.mozc.android.inputmethod.japanese.InputDeviceReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.hardware.input.action.QUERY_KEYBOARD_LAYOUTS" />
            </intent-filter>
            <meta-data android:name="android.hardware.input.metadata.KEYBOARD_LAYOUTS"
                android:resource="@xml/keyboard_layouts" />
        </receiver>

    </application>
</manifest>
